section#projects
  h2 projects
  -var path = "dist/assets/images/";
  .project-tile
    figure
      img(src=path + "bob.png" )
      figcaption
    a(href="link-to-project")
  .project-tile
    figure
      img(src=path + "survey.png")
      figcaption
    a(href="link-to-project")
  .project-tile
    figure
      img(src=path + "coffee.png")
      figcaption
    a(href="link-to-project")
  .project-tile
    figure
      img(src=path + "blackjack.png")
      figcaption
    a(href="link-to-project")
  .project-tile
    figure
      img(src=path + "retro.png")
      figcaption
    a(href="link-to-project")
  .project-tile
    figure
      img(src=path + "tictactoe.png")
      figcaption
    a(href="link-to-project")
