.projects
  h2 projects
  -var path = "dist/assets/images/";
  .project-tile
    figure
      img(src=path + "bob.png" )
      figcaption bob marley tribute
    a(href="link-to-project")
  .project-tile
    figure
      img(src=path + "survey.png")
      figcaption survey form
    a(href="link-to-project")
  .project-tile
    figure
      img(src=path + "coffee.png")
      figcaption coffee creamery landing page
    a(href="link-to-project")
  .project-tile
    figure
      img(src=path + "blackjack.png")
      figcaption blackjack docs
    a(href="link-to-project")
  .project-tile
    figure
      img(src=path + "retro.png")
      figcaption arcade clone
    a(href="link-to-project")
  .project-tile
    figure
      img(src=path + "tictactoe.png")
      figcaption tic tac toe
    a(href="link-to-project")
